{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

<style>
    #map {
        height: 600px;
        width: 100%;
    }
    .dropdown {
        display: flex;
        justify-content: flex-end;
    }
</style>

<div id="map"></div>

<script>
    var map = L.map('map').setView([33.776174, -84.398815], 3); // Location of Georgia Tech campus

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Test marker
    var marker = L.marker([33.774841, -84.396407]).addTo(map); // Location of CS2340 classroom
    marker.bindPopup("<b>The Dark Knight</b><br>25 sales")

    // Generate javascript object using JSON orders list
    const orders = JSON.parse('{{ orders_json|escapejs }}');

    // Test code for accessing orders and their regions
    orders.forEach((element, index) => {
        region = element.fields.region
        console.log(region);
        console.log(index)
    });

    // Coordinates for region markers
    var region_coords = {
        "AF": [12.68142033751721, 20.268198669475503],  // Africa
        "AN": [-76.08582128335182, 21.94560590743792],  // Antarctica
        "AS": [47.55395811991787, 87.2904497271196],    // Asia
        "EU": [50.06943155378032, 12.83065473024489],   // Europe
        "NA": [39.62147416716466, -99.74048417383642],  // North America
        "OC": [-25.83732014300033, 141.23997363375128], // Oceania
        "SA": [-13.929939704940162, -59.82793422575491] // South America
    };

</script>

{% endblock content %}